// Bootstrap
@import "/bower_components/bootstrap/less/bootstrap.less";

// App
@import "_shared.less";

/* Layout
-------------------------------------------------- */

@footer-height: @navbar-height;
@body-content-padding: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: @navbar-height + @body-content-padding;
  margin-bottom: @footer-height + 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  padding: 15px 0;
}

#footer .glyphicon-cog {
  top: 3px;
}

/* Shared snippits
-------------------------------------------------- */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.status {
  display: inline-block;
}

.status::after {
  content: '\0020';
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.35), 0 1px 0 rgba(255,255,255, 1);
}

.status.status-on::after { background-color: #60BA47; }
.status.status-recording::after { background-color: #DE2F2F; }
.status.status-sleeping::after { background-color: #fc5; }
.status.status-notfound::after { background-color: #aaa; }
