<panel>
  <panel-heading>Group Control</panel-heading>
  <panel-body class="group-control">

    <form role="form">
      <div class="form-group">
        <label for="target">Target</label>
        <group-control-dropdown model="targets" options="cameras"></group-control-dropdown>
      </div>

      <div class="form-group">
        <label for="target">Command</label>
        <select class="form-control" ng-model="command" ng-options="key as key for (key, value) in config.command"></select>
      </div>

      <div class="form-group">
        <label for="target">Value</label>
        <select class="form-control" ng-model="value" ng-options="key as key for (key, value) in config.command[command].translate"></select>
      </div>

      <button type="submit" class="btn btn-default">Send</button>
    </form>

  </panel-body>
</panel>
