<div class="page-cameras row">
    <div class="col-md-3">

      <panel>
          <panel-heading>Control</panel-heading>
          <panel-body class="camera-group-control">
              <form role="form">
                <div class="form-group">
                  <label for="target">Target</label>
                  <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="target">Parameter</label>
                  <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="target">Value</label>
                  <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-default">Send</button>
              </form>


              <div class="btn-group">
                  <button type="button" class="btn btn-default" disabled="disabled">Power: </button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="power_on">On</button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="power_off">Off</button>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default" disabled="disabled">Record: </button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="record_on">On</button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="record_off">Off</button>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default" disabled="disabled">Mode: </button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="mode_video">Video</button>
                  <button type="button" class="btn btn-primary gopro-sendcommand" gopro-camera="all" gopro-command="mode_still">Still</button>
              </div>
          </panel-body>
      </panel>

      <panel>
          <panel-heading>Queued Commands</panel-heading>
          <panel-body>
              <table class="table table-condensed table-striped">
                  <tbody class="command-list">
                  </tbody>
              </table>
          </panel-body>
          <panel-footer>
              avg cmd delay: <span class="cmd-time">?</span> seconds
          </panel-footer>
      </panel>

    </div>
    <div class="col-md-9">

      <panel>
        <panel-heading>
          Cameras
          <div class="btn-group btn-group-xs pull-right" role="group">
            <button type="button" class="btn btn-default" ng-class="{active: view=='list'}" ng-click="setView('list')"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" ng-class="{active: view=='thumb'}" ng-click="setView('thumb')"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
          </div>
        </panel-heading>
        <panel-body>

          <div ng-if="view=='list'" class="camera-list">
            <div class="media" ng-repeat="camera in cameras track by camera.id | orderBy:'ssid'">
              <div class="pull-left">
                <img class="media-object" alt="preview" ng-src="{{camera.image}}" ng-if="camera.image">
                <holder class="media-object" alt="preview" data-src="holder.js/128x96/text:?" ng-if="!camera.image.length">
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <camera-status status="camera.summary">{{camera.ssid}}</camera-status>
                  <div class="pull-right">
                    edit, json
                  </div>
                </h4>

                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span></td>
                      <td>updated <span am-time-ago="camera.last_update"></span></td>
                    </tr>
                    <tr>
                      <td><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></td>
                      <td>
                        batt1: {{camera.status.batt1}}%,
                        batt2: {{camera.status.batt2}}%,
                        charging: {{camera.status.charging}}
                      </td>
                    </tr>
                    <tr>
                      <td><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></td>
                      <td>
                        mem: {{camera.status.mem}},
                        minsremaining: {{camera.status.minsremaining}}
                      </td>
                    </tr>
                    <tr>
                      <td><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></td>
                      <td>
                        mode: {{camera.status.mode}},
                        record: {{camera.status.record}},
                        vidres: {{camera.status.vidres}},
                        picres: {{camera.status.picres}},
                        fov: {{camera.status.fov}},
                        orientation: {{camera.status.orientation}}
                      </td>
                    </tr>

                  </tbody>
                </table>

                <pre ng-if="show_json">{{camera.status | json}}</pre>
              </div>
            </div>
          </div>

          <div ng-if="$parent.view=='thumb'" class="camera-thumb">
            <div class="thumb" ng-repeat="camera in cameras track by camera.id | orderBy:'ssid'">
              <div>
                <img class="media-object" alt="preview" ng-src="{{camera.image}}" ng-if="camera.image">
                <holder class="media-object" alt="preview" data-src="holder.js/128x96/text:?" ng-if="!camera.image.length">
              </div>
              <div>
                <camera-status status="camera.summary">{{camera.ssid}}</camera-status>
                updated <span am-time-ago="camera.last_update"></span>
              </div>
            </div>
          </div>

        </panel-body>
        <panel-footer>
          <camera-status status="'notfound'">not found</camera-status>,
          <camera-status status="'sleeping'">sleeping</camera-status>,
          <camera-status status="'on'">on</camera-status>,
          <camera-status status="'recording'">recording</camera-status>
        </panel-footer>
      </panel>

    </div>
</div>
