@import "/app/styles/_shared.less";

.byte-breakdown {
  margin-top: @panel-body-padding;

  div:first-child {
    margin-bottom: 10px;
  }

  div.well {
    padding: 5px;
  }

  table {
    margin-bottom: 0;
  }
}
